/*CUSTOM*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100);
/*CUSTOM COLOR*/
/* line 5, ../scss/single-cg-reading.scss */
.serial_info {
  margin-bottom: -20px;
  color: #428bca;
}

/* line 11, ../scss/single-cg-reading.scss */
.error-only {
  display: none;
}

/* line 14, ../scss/single-cg-reading.scss */
.has-error .error-only {
  display: block;
}

/* line 17, ../scss/single-cg-reading.scss */
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 10px;
}

/* line 21, ../scss/single-cg-reading.scss */
.wrapper-revealer {
  margin-bottom: 30px;
}
/* line 24, ../scss/single-cg-reading.scss */
.wrapper-revealer .alert, .wrapper-revealer .facil {
  display: none;
}
/* line 29, ../scss/single-cg-reading.scss */
.wrapper-revealer.revealed .alert, .wrapper-revealer.revealed .facil {
  display: block;
}
/* line 32, ../scss/single-cg-reading.scss */
.wrapper-revealer.revealed .facil-box, .wrapper-revealer.revealed hr.dotted {
  display: none;
}
/* line 38, ../scss/single-cg-reading.scss */
.wrapper-revealer .entry-title {
  font-size: 45px;
  font-weight: 200;
}
/* line 41, ../scss/single-cg-reading.scss */
.wrapper-revealer h1, .wrapper-revealer h2, .wrapper-revealer h3, .wrapper-revealer h4, .wrapper-revealer h5 {
  line-height: 1.4;
}
/* line 44, ../scss/single-cg-reading.scss */
.wrapper-revealer h1 {
  font-size: 45px;
  color: #428bca;
}
/* line 48, ../scss/single-cg-reading.scss */
.wrapper-revealer h2 {
  font-size: 23px;
  font-weight: normal;
}
/* line 52, ../scss/single-cg-reading.scss */
.wrapper-revealer h3 {
  font-size: 18px;
  color: #428bca;
}
/* line 56, ../scss/single-cg-reading.scss */
.wrapper-revealer h4 {
  font-size: 14px;
}
/* line 59, ../scss/single-cg-reading.scss */
.wrapper-revealer h5 {
  font-size: 12px;
  color: #428bca;
}

/* line 68, ../scss/single-cg-reading.scss */
article .alignleft,
article .alignright {
  float: none;
  margin: 10px auto;
  margin-top: 0;
  width: auto;
  display: block;
}
/* line 76, ../scss/single-cg-reading.scss */
article blockquote {
  margin-left: 20px;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-left-color: #428bca;
}
/* line 82, ../scss/single-cg-reading.scss */
article blockquote > p {
  font-style: italic;
}
/* line 85, ../scss/single-cg-reading.scss */
article blockquote > small {
  color: #428bca;
}
/* line 89, ../scss/single-cg-reading.scss */
article figure {
  text-align: center;
}
/* line 91, ../scss/single-cg-reading.scss */
article figure.alignleft, article figure.alignright {
  width: auto !important;
}
/* line 96, ../scss/single-cg-reading.scss */
article img {
  max-width: 100%;
  height: auto;
}
/* line 100, ../scss/single-cg-reading.scss */
article .wp-caption {
  background: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 106, ../scss/single-cg-reading.scss */
article .wp-caption-text {
  padding: 5px 0;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 111, ../scss/single-cg-reading.scss */
  article .aligncenter {
    margin: 10px auto;
    margin-top: 0;
  }
  /* line 115, ../scss/single-cg-reading.scss */
  article .alignleft {
    float: left;
    margin: 10px;
    margin-top: 0;
    margin-left: 0;
    width: 50%;
  }
  /* line 122, ../scss/single-cg-reading.scss */
  article .alignright {
    float: right;
    margin: 10px;
    margin-top: 0;
    margin-right: 0;
    width: 50%;
  }
  /* line 130, ../scss/single-cg-reading.scss */
  article figure.alignleft, article figure.alignright {
    width: 50% !important;
  }
}
/* line 137, ../scss/single-cg-reading.scss */
article ol {
  list-style: decimal;
}
/* line 139, ../scss/single-cg-reading.scss */
article ol ol {
  list-style: upper-alpha;
}
/* line 141, ../scss/single-cg-reading.scss */
article ol ol ol {
  list-style: lower-alpha;
}

/* line 149, ../scss/single-cg-reading.scss */
.table-responsive {
  overflow-x: auto !important;
}
/* line 151, ../scss/single-cg-reading.scss */
.table-responsive table {
  margin: 0;
}

/* line 155, ../scss/single-cg-reading.scss */
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
  white-space: normal;
}

/* line 166, ../scss/single-cg-reading.scss */
.clear {
  clear: both;
}
