#commentform{
  .comment-form-author,
  .comment-form-email,
  .comment-form-url{
    >label{
      display:block;
    }
    >input{
      @extend .form-control;
    }
  }
  .comment-form-comment{
    >label{
      display:block;
    }
    >textarea{
      @extend .form-control;
    }
  }
  .form-submit{
    input[type="submit"]{
      @extend .btn;
      @extend .btn-primary;
    }
  }
}

.comment-list{
  >li{
    @extend .well;

    >.children:first-of-type{
      margin-top:10px;
      border-top:1px dotted #ddd;
    }

    li{
      padding-top:10px;
      padding-bottom:10px;
    }
  }
  ul{
    list-style:none;
    border-left:1px solid $brand-success;
  }
  .reply{
    .comment-reply-link{
      @extend .btn;
      @extend .btn-success;
      @extend .btn-sm;
      &:before{
        content:"\f112 \0020";
        font-family: "FontAwesome";
      }
    }
  }
}