/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
  clear: both;
  margin:15px 0;
  a, span {
    border:none;
    padding:10px 5px;
  }
  span.current {
    @extend .active;
  }
  span.current {
    font-weight: bold;
  }
  span.pages{
    //style here
    display:block;
    padding:0;
    padding-bottom:4px;
    margin-bottom: 8px;
    background:transparent;
    margin-bottom:5px;
    font-weight: bold;
    color:$brand-primary;
    border-bottom:1px solid #d5d5d5;
  }
  .current{
    @extend .active;
  }
  .current,
  .larger, .smaller,
  .nextpostslink,.previouspostslink,
  .last,.first{
    @extend .btn;
    @extend .btn-sm;
  }
  .current,.larger,.smaller{
    @extend .btn-default;
  }
  .nextpostslink,.previouspostslink,
  .last,.first{
    @extend .btn-primary;
  }
}