@import "custom-variables"; 
@import "bootstrap"; 
@import "font-awesome";
@import "sticky-footer";
@import "comment-form";
@import "tablesorter";
@import "custom-other";
@import "calendar-widget";
@import "chord-transposer";
@import "wp-pagenavi"; 
@import "carousel-override";
@import "gallery";
@import "widgets";

table tr{
  background:#fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a:hover, a:focus{
  text-decoration: none;
}

.search-result{
  .type-songbook{
    .entry-title>a:after{
      content:" - Songbook";
      font-size:0.8em;
    }
  }
}

nav.navbar{
  margin-bottom:0;
  button[type="button"]{
    color:#fff;
  }
}

#breadcrumbs{
  @extend .well;
  @extend .well-sm;
  margin-top: 20px;
  padding-left:20px;
  padding-right:20px;
}

time.updated:before{
  content: " | "; 
}

.site-footer{
  @extend .well;
  margin-bottom:0;
}

.post-navigation{
  >h2{
    @extend .h3;
  }
  .nav-links{
    @extend .clearfix;
    .nav-previous, .nav-next{
      display:inline-block;
      @extend .btn;
      @extend .btn-link;
    }
    .nav-previous{
      >a:before{
        content: '\f060 \0020';
        font-family: 'FontAwesome';
      }
    }
    .nav-next{
      float:right;
      >a:after{
        content:'\0020 \f061';
        font-family: 'FontAwesome';
      }
    }
  }
}