@import "compass";
@import "custom-variables";

.error-only {
  display: none;
}
.has-error .error-only {
  display: block;
}
.has-feedback label.sr-only ~ .form-control-feedback{
  top:10px;
}

.wrapper-revealer{
  //Revealing on and off
    //initial setting when it's pass protected
  .alert, .facil{
    display:none;
  }
    //after pass success
  &.revealed{
    .alert, .facil{
      display:block;
    }
    .facil-box, hr.dotted{
      display:none;
    }
  }
  
  //Font size tweaking
  .entry-title{
    font-size: $font-size-h2; font-weight:200;
  }
  h1{ font-size: $font-size-h2; color:$brand-primary;}
  h2{ font-size: $font-size-h3; font-weight: normal;}
  h3{ font-size: $font-size-h4; color:$brand-primary;}
  h4{ font-size: $font-size-h5; }
  h5{ font-size: $font-size-h6; color:$brand-primary;}

  //Breathing space on bottom
  margin-bottom:60px;
}

article{
  .aligncenter{
    margin: 10px auto;
  }
  .alignleft{
    float:left;
    margin:10px;
    margin-left:0;
  }
  .alignright{
    float:right;
    margin:10px;
    margin-right:0;
  }
  img{
    max-width:100%;
    height:auto;
  }
  .wp-caption{
    background:#fff;
    padding:5px;
    border:1px solid #ddd;
    @include border-radius(3px);
  }
  .wp-caption-text{
    padding:5px 0;
    text-align: center;
  }
  @media(max-width:$screen-xs-max){
    .alignleft,
    .alignright{
      float:none;
      margin:0;
    }
  }

  ol {
    list-style:decimal;
    ol{
      list-style:upper-alpha;
      ol{
        list-style:lower-alpha;
      }
    }
  }
}