@import "compass";
@import "custom-variables";

//meta
.serial_info{
  margin-bottom: -20px;
  color:$brand-primary;
}

//password validation
.error-only {
  display: none;
}
.has-error .error-only {
  display: block;
}
.has-feedback label.sr-only ~ .form-control-feedback{
  top:10px;
}

.wrapper-revealer{
  //Revealing on and off
    //initial setting when it's pass protected
  .alert, .facil{
    display:none;
  }
    //after pass success
  &.revealed{
    .alert, .facil{
      display:block;
    }
    .facil-box, hr.dotted{
      display:none;
    }
  }
  
  //Font size tweaking
  .entry-title{
    font-size: $font-size-h2; font-weight:200;
  }
  h1,h2,h3,h4,h5{
    line-height:1.4;
  }
  h1{ 
    font-size: $font-size-h2; 
    color:$brand-primary;
  }
  h2{ 
    font-size: $font-size-h3; 
    font-weight: normal;
  }
  h3{ 
    font-size: $font-size-h4; 
    color:$brand-primary;
  }
  h4{ 
    font-size: $font-size-h5; 
  }
  h5{ 
    font-size: $font-size-h6; 
    color:$brand-primary;
  }
  //Breathing space on bottom
  margin-bottom:30px;
}

article{
  .alignleft,
  .alignright{
    float:none;
    margin:10px auto;
    margin-top: 0;
    width:auto;
    display:block;
  }
  blockquote{
    margin-left:20px;
    background:#fff;
    padding-top:30px;
    padding-bottom:30px;
    border-left-color:$brand-primary;
    >p{
      font-style:italic;
    }
    >small{
      color:$brand-primary;
    }
  }
  figure{
    text-align: center;
    &.alignleft,
    &.alignright{
      width:auto!important;
    }
  }
  img{
    max-width:100%;
    height:auto;
  }
  .wp-caption{
    background:#fff;
    padding:5px;
    border:1px solid #ddd;
    @include border-radius(3px);
  }
  .wp-caption-text{
    padding:5px 0;
    text-align: center;
  }
  @media(min-width:$screen-sm){
    .aligncenter{
      margin: 10px auto;
      margin-top: 0;
    }
    .alignleft{
      float:left;
      margin:10px;
      margin-top: 0;
      margin-left:0;
      width: 50%;
    }
    .alignright{
      float:right;
      margin:10px;
      margin-top: 0;
      margin-right:0;
      width: 50%;
    }
    figure{
      &.alignleft,
      &.alignright{
        width:50%!important;
      }
    }
  }

  ol {
    list-style:decimal;
    ol{
      list-style:upper-alpha;
      ol{
        list-style:lower-alpha;
      }
    }
  }
}

//Table no-wrapping overrides
.table-responsive{
  overflow-x:auto!important;
  table{
    margin:0;
  }
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td{
  white-space:normal;
}


//Utility class
.clear{
  clear:both;
}